<h2>Template: Switches</h2>
<hr>
<form #miFormulario="ngForm">

  <!-- Radios -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Género</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input"
                value="M"
                [(ngModel)]="persona.genero"
                type="radio"
                name="radioGenero"
                id="radioMasculino"
                required>
        <label class="form-check-label" for="radioMasculino">
          Masculino
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input"
                value="F"
                [(ngModel)]="persona.genero"
                type="radio"
                name="radioGenero"
                id="radioFemenino"
                required>
        <label class="form-check-label" for="radioFemenino">
          Femenino
        </label>
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input class="form-check-input"
                [(ngModel)]="persona.notificaciones"
                name="notificaciones"
                type="checkbox"
                id="flexSwitchCheckChecked">
        <label class="form-check-label" for="flexSwitchCheckChecked">
          Quiero recibir notificaciones?
        </label>
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input"
                name="terminos"
                [(ngModel)]="terminosYCondiciones"
                type="checkbox"
                id="flexCheckDefault"
                required>
        <label class="form-check-label" for="flexCheckDefault">
          Términos y condiciones
        </label>
      </div>
    </div>
  </div>

  <!-- Boton submit -->
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end"
              [disabled]="miFormulario.invalid">
        Guardar
      </button>
    </div>
  </div>
</form>

<span>Valor del Formulario</span>
<pre>{{miFormulario.value | json}}</pre>
<br>
<span>Persona</span>
<pre>{{persona | json}}</pre>
<br>
<span>Valid</span>
<pre>{{miFormulario.valid}}</pre>
<br>

<pre>Términos: {{miFormulario.controls.terminos?.errors | json}}</pre>

